* {
  box-sizing: border-box;
}

body {
  background: #eee;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans' , sans-serif;
}

.box {
  margin: 5em auto;
  width: 680px;
  height: 430px;
 background: #F4F4F4;
}


.left {
  z-index: 100;
  position: relative;
  top: -35px;
  left: 25px;
  float: left;
  width: 290px;
}

.left img {
  max-width: 400px;
  height: 400px;
  border-radius: 5px;
  box-shadow: -5px 6px 15px 1px rgba(0, 0, 0, 0.4);
}

.right {
  position: relative;
  top: 15px;
  left: 45px;
  margin: 0;
  width: calc(680px  - 390px);
  height: 430px;
  float: left;
}

.middle-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9c9ea2;
  cursor: pointer;
}

span {
  color: #fbcd43;
}

.btn {
  text-align: center;
}

.head a {
  list-style: none;
  text-decoration: none;
  background: #222831;
  padding: 10px 15px;
  color: #f7f7f7;
}

.head a:hover {
  background: #16191f;
}

.bio-text {
  font-size: 14px;
}

a {
  color: #223;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

button {
  position: relative;
  top: 10px;
  left: 80px;
}

.btn-bio {
  background: transparent;
  padding: 10px 25px;
  width: 150px;
  border-radius: 25px;
  border: 1px solid #7fd6da;
  color: #7fd6da;
  cursor: pointer;
}

.btn-bio:hover {
  color: red;
  box-shadow: 0 6px 15px 1px rgba(0, 0, 0, 0.3);
}

.btn-bio:focus {
  outline: 0;
}

.text {
  h2{
    font-weight: bold;
  }
  p {
    font-size: 14px;
  }
}
