<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Slider</title>
  <!-- Styles -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div id="app"></div>
<!-- Slider Template -->

<script id="slider-template" type="text/x-handlebars-template">

<div class="row">
  <div class="container">

    {{# each results }}
      <div class="box">

        <div class="card col-md-12">
          <div class="left col-md-4 col-md-pull-6"><img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" data-adaptive-background data-ab-parent='.box'/></div>
          <div class="right col-md-6 col-md-pull-4 text">
            <h2>{{ original_title }}</h2>
            <p>{{ overview }}</p>
          </div>
        </div>
      </div>
    {{/ each}}
  </div>
</div>
</script>
<!-- Scripts -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/handlebars/handlebars.min.js"></script>
<script src="bower_components/adaptive.background/src/jquery.adaptive-backgrounds.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
